<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(slide) -%>">
  <span class='title'>
    <%= slide.title %>
  </span>
  <span class='actions'>

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_slideshow_admin_slideshow_slide_path(slide.slideshow, slide),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.slideshow_admin_slideshow_slide_path(slide.slideshow, slide),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => slide.title),
        :method => :delete %>
  </span>
</li>
